body{
    background-color:hotpink;
    color:darkcyan;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}
form{
    margin-top: 30px;
    margin-bottom: 30px;
}
.form1{
    margin-left: 115px;
}
.odlist{
    padding: 30px;
}
li{
    padding:10px;
}
h1:hover{
    color:blueviolet;
}
h2:hover{
    color:aquamarine;
}
h1{
    text-align: center;
    margin-bottom: 80px;
}
p{
    display: inline;
    font-size: 2rem;
}
button{
    background-color: firebrick;
}
button:hover{
    color:aquamarine;
}