body{
    text-align: center;
    font-size: 2rem;
    background-image:url(https://pjsekai.sega.jp/assets/images/special/download/virtual-bg/virtual_bg_01_unit06.png)
}
li{
    list-style: none;
    margin-top: 30px;
}
h1:hover,h2:hover{
    color:palevioletred;
}
a:hover{
    color:orangered;
    text-decoration: underline;
}
.container{
  display:flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}