#namel{
    display:inline;
}
h1{
    text-align: center;
}
body{
    margin-left: 50px;
    background-color: aquamarine;
}
button:hover{
    color:rgb(134, 12, 249);
}
button{
    background-color: rgb(252, 180, 153);
}
form{
    margin-top: 30px;
}
#form2{
    margin-left: 65px;
    margin-bottom: 50px;
}
#form1{
    margin-top: 50px;
}
#title{
    text-align: center;}
    
ol{
    margin-left: 550px;
}
li{
    margin-top: 35px;
}
nav{
    font-size: 28px;
}
#bttop{
    font-size: 30px;
}